<!DOCTYPE html>
<html>
<head>
<title>About</title>
</head>

<body background="http://7-themes.com/data_images/out/75/7027542-space-backgrounds-wallpaper.jpg">
<%= link_to 'Home', root_path %>

<p style="font-family:sans-serif; font-size:300%; color:peachpuff;text-align:center;">This is my first blog.</p>

</body>
</html>