<!DOCTYPE html>
<html>
<head>
<title>Home page</title>
</head>

<body background="http://www.desktop-image.com/wp-content/uploads/2014/06/space-wallpaper-1920x10801.jpg">

<%= link_to 'About',about_path %>

<p style="color:lightsteelblue; text-align:center; font-family:sans-serif;font-size:400%">Alpha-blog</p>


</body>
</html>