<div class="container">
  <footer class="footer">
    <small>
      &copy Kotets | Find me on <a  href="https://www.facebook.com/katia.kotets"><img src="http://blogs.babycenter.com/wp-content/uploads/2013/10/Facebook_logo_square.png" alt="facebook" style="width:18px; height:18px"></a>
    </small>
  </footer>
</div>